body{
    display:flex;
    flex-flow:column;
}
html{
    background-color:#282a36;
    color:white;
}

.container {

    display:flex;
    flex-flow:row;
    justify-content:center;
    align-items:center;
    min-height:90vh;
    outline: 1px solid black;
    
}

#grid-container{
  outline: 1px solid white;
  margin-left:5rem;
  
}
.settings-panel{
    display:flex;
    flex-flow:column wrap;
    justify-content:space-between;
    align-items:center;
    min-height:50vh;
    border:1px solid rgb(255, 255, 255);
    border-radius:10%;
    min-width:25rem;
}

.option-item{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    margin:2rem;
    height:10vh;
}

#color-picker{
  border: 2px solid rgb(255, 255, 255);
  border-color:rgb(255, 255, 255);
  width:100%;
  height:100%;
  background-color: transparent;

}


.cell {
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    
  }

  .gridRow{
    line-height: 0;
    margin:0;
  }

  .cell:hover{
    background-color:rgb(255, 255, 255);
  }

  #clear{
    display:flex;
    justify-content:center;
    align-items:center;


  }

  .gallery-container{
    display:flex;
    justify-content:center;
    align-items:center;
  }